@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

:root {
  --primary-white: white;
  --primary-blue: #6C8DD3;
  --primary-dark: rgba(255,255,255,0);

}

body {
  font-family: 'Roboto Condensed', sans-serif;

}

/************** NAVBAR ***************/
.navbar {
  height: 17vh;
}

.logo{
  margin-top: 5% ;
  width: 150px;
}
/************** Nav Links ***************/

nav a.nav-link{
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  border-top: 5px solid;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-top: 5px solid var(--primary-dark);
  
}

.navbar-brand {
  max-width: 160px;
  padding:0 !important;
  height: 100px  !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 5px solid var(--primary-blue) !important;
}

.navbar-nav > li > a:hover {
  border-top: 5px solid var(--primary-blue) !important;
  
}

/************** Header ***************/

.header-wraper {
  position:relative;
  background: url(background3.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 83vh;
}

.main-info {
  display:flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  
  
  
}

.main-info h1 {
  color: orange;
  font-weight: bolder;
  text-transform: uppercase;
}


/************** Typed Text ***************/

.typed-text {
  font-size: 60px;
  color: var(--primary-white);
}

/************** About Me ***************/

.about-me {
  background-color: black;
  display: flex;
  height: 83vh;
}

/************** Portfolio Component ***************/

.portfolio {
  background-color: black;
  display: flex;
  height: 83vh;
}

/************** Contact Me ***************/

.contact-me {
  justify-content: center;
  display: flex;
  height: 83vh;
}


/************** Contact Form ***************/

.form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}

h1, p {
  text-align: center;
}

input, textarea {
  width: 100%;
}

